body{
  background-color: lightpink;
  
  
}
#game1{

  position: absolute;
  right: 800px;
  width: 200px;
  height: 40px;
  border: 3px solid black;
}

#game2{
 
  position: absolute;
  right: 500px;
  width: 200px;
  height: 40px;
  border: 3px solid black;
}

a:hover {
  color: hotpink;
}


a:active {
  color: blue;
}

footer{
  position: relative;
  bottom: 0;
  left: 0;
}
